
.menuprincipal{
    display: flex;
    justify-content: center;  
}
.menuprincipal ul{
    display: flex;
    list-style: none;
    justify-content: center;
}
.menuprincipal li a{
    display: block;
    background-color:black;
    color: gold;
    width: 150px;
    height: 40px;
    text-align: center;
    border-style: solid;
    padding: 20px 0px 0px 0px;
}
.menucentro{
    display: flex;
    justify-content: center;
    padding: 0px 0px 0px 40px;
}
.cuerpo{
    display: flex;
    width: 100%;
    height: 1600px;
    background-color:orangered;   
}
.cajaproductos{
    background-color: darkorchid;
    width: 70%;
    height: 1550px;
    display: block;
}
.cajafunciones{
    width: 25%;
    height: 250px;
    display: block;
    padding: 0px 0px 0px 50px;
}
.cajamenu{
    background-color: cornflowerblue;
    width: 80%;
    height: 100px;
}
.cajaredes{
    background-color: darkcyan;
    width: 80%;
    height: 100px;   
}

.pie{
    display: flex;
    justify-content: center;
    background-color: black;
    height: 300px;
    color: gold;

}
.primero{
    width: 24%;
    text-align: left;
    border-style: solid;
    padding: 20px;
}
.segundo{
    width: 24%;
    text-align: left;
    border-style: solid;
    padding: 20px;

}
.tercero{
    width: 50%;
    text-align: left;
    border-style: solid;
    padding: 20px;
}
.linkedit{
    outline: none;
    text-decoration: none;
    color: gold;
}
.cajadeproducto1{
    display: flex;
}
.cajadeproducto2{
    display: flex; 
}
.cajadeproducto3{
    display: flex;   
}
.cajadeproducto4{
    display: flex;   
}
.cajainterna{
    background-color: blue;
    display: block;
    border-style: solid;
    width: 250px;
    height: 300px;
}